@charset "UTF-8";
/* CSS Document */

  body{
        background-image: url("Pics/Black.jpg");
      }
	  #inner{
	  	margin: 0 auto;
		background-color: #ccc; 
		width:750px;
		border-radius: 1px;
	  }
	  #container{
	  	width:780px;
		margin: 0 auto;
		background-color: #000;
	  }
	  #banner{
	  	
		height: 100px;
		margin: 0 auto;
	
		}
	  #underBanner{
	  	height: 105px;
		margin: 0 auto;
		background-color:#000;
	  }
	  #menu{
		border: solid 3px;
	  	width: 100 px;
		height: 300 px;
		float: left; 
		background-color:#003366;
		position:fixed;
		border-radius: 12px;
	  } 
	  #text{
	  	width: 550px;
		margin: 0 auto;
	
	  }
	  p{
	  	font:"Times New Roman", Times, serif;
		color:#333333;
	  }
	  #copywrite{
	  	height: 35px;
		background-color:#FFF;
	  }
	  #label{
		height: 63px;
		width: 126px;
		margin:0 auto;
		top: 55px;
		position:absolute;
		left: 345px;
	  }
	
