@charset "UTF-8";
/* CSS Document */

  body{
        background-image: url("Pics/Black.jpg");
      }
	  #inner{
	  	margin: 0 auto;
		background-color: #CCC;
		width:750px;
	  }
	  #container{
	  	width:780px;
		margin: 0 auto;
		background-color: #000;
	  }
	  #banner{
	  	
		height: 100px;
		margin: 0 auto;
		background-color:#f8f8f8;
	  }
	  #underBanner{
	  	height: 105px;
		margin: 0 auto;
		background-color:#000;
	  }
	  #menu{
	  	width: 100 px;
		height: 300 px;
		float: left;
		background-color:#003366;
		position:fixed;
	  } 
	  #text{
	  	width: 550px;
		margin: 0 auto;
	
	  }
	  p{
	  	font:"Times New Roman", Times, serif;
		color:#333333;
	  }
	  #copywrite{
	  	height: 45px;
		background-color:#FFF;
	  }
	  
	